<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
    <add key="ConnectionString" value="" />
    <add key="ConnectionStringLocal" value="" />
    <add key="TempFile" value="D:\Desenvolvimento\DistributorDA\DistDataAquisition\temp\"/>
    <add key="EmailService" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailUser" value="" />
    <add key="EmailPassword" value="" />
    <add key="CasperComp" value="Desenvolvimento\DistributorDA" />
    <add key="CasperPath" value="DistDataAquisition\casperjs\bin"/>
    <add key="ApplicationDisk" value="D:"/>

  </appSettings>
</configuration>