<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
    <add key="ConnectionString" value="wBnJlU9N1bfWbPoNugDgXE7sz0ywURyDcID+ZWFrCusyzH1cVdtFU1ywxUkIiK3d6QEjDIj3L7eTYXlxW131yo+9y9P/dO0nmwKrZxARjsj99mBzCae9YGWw9TXsxLWWxsZAZH1hKw/4wRI+KQyJ+56BCJ5h9NoFkI68rUv5zSwQYCfdNFk22jC03BwOVDTBg/LnTnQFmrv6pi5Y+whouw==" />
    <add key="ConnectionStringLocal" value="wBnJlU9N1bfWbPoNugDgXE7sz0ywURyDcID+ZWFrCusyzH1cVdtFU1ywxUkIiK3d6QEjDIj3L7eTYXlxW131yo+9y9P/dO0nmwKrZxARjsj99mBzCae9YGWw9TXsxLWWxsZAZH1hKw/4wRI+KQyJ+56BCJ5h9NoFkI68rUv5zSwQYCfdNFk22jC03BwOVDTBg/LnTnQFmrv6pi5Y+whouw==" />
    <add key="TempFile" value="D:\Desenvolvimento\DistributorDA\DistDataAquisition\temp\"/>
    <add key="EmailService" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailUser" value="" />
    <add key="EmailPassword" value="" />
    <add key="CasperComp" value="Desenvolvimento\DistributorDA" />
    <add key="CasperPath" value="DistDataAquisition\casperjs\bin"/>
    <add key="ApplicationDisk" value="D:"/>
    <add key="VerifyLoggedUser" value="false" />
    <add key="BrowserTimeout" value="300" />
    <add key="OpenedBrowsersLimit" value="5" />
  </appSettings>
</configuration>